{% load static %}
{% load getattribute %}
{% load crispy_forms_tags %}

<div class="row">
    {% if model.date_range %}
        {% include 'base/date_range.html' %}
    {% endif %}
    <form method="post" action="">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>{{model.title}}<small>{{model.sub_title}}</small></h3>
                <ul class="nav navbar-right panel_toolbox">
                    <!-- <li><a href="#"><i class="fa fa-plus" aria-hidden="true"></i>New {{add_object_name}}</a>
                    </li> -->
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li><a href="#"><i class="fa fa-close"></i></a>
                    </li> -->
                </ul>
                <!-- <div class="clearfix"></div> -->
            </div>
            {% if model.action_dict %}
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <select id="action" class="form-control" required="" data-parsley-id="3746" name="action">
                        <option value="">Action</option>
                        {% for key,value in model.action_dict.items %}
                        <option value="{{value}}" name="">{{key}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="submit" class="btn btn-round btn-primary" id="go" name="go">Go</button>
                </div>
            {% endif %}
            <div class="x_content" style="overflow-x:auto;">
                <table id="datatable-keytable{{table_name}}" class="table table-striped table-bordered">
                    <thead>
                        <tr class="headings">
                            {% if model.check_box %}
                            <th>
                                <input type="checkbox" class="tableflat">
                            </th>
                            {% endif %}
                            {% for item in model.list_display %}
            						  	<th>{{item.0}}</th>
            						  	{% endfor %}
                            {% if model.detail_url_reverse != '' %}
                            <th class=" no-link last"><span class="nobr">Action</span>
                            </th>
                            {% endif %}
                            {% if model.edit == True %}
                            <th class=" no-link last"><span class="nobr"></span>
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    
                    {% csrf_token %}
                    <tbody>
                    	{% for obj in model.object_list %}
                        <tr class="even pointer">
                            {% if model.check_box %}
                            <td class="a-center ">
                                <input type="checkbox" class="tableflat" value='{{obj.id}}' name='for_action' id='for_action' >
                            </td>
                            {% endif %}
                            {% for item in model.list_display %}
                            <td class=" ">{{ obj|getattribute:item.1 }}</td>
                            {% endfor %}
                            {% if model.detail_url_reverse != '' %}
                            <td class=" last"><a href="{% url model.detail_url_reverse pk=obj.id.hex %} ">View</a>
                            </td>
                            {% endif %}
                            {% if model.edit == True %}
                            <td><a data-toggle="modal" data-target="#editmodal" id="{{obj.id.hex}}" name="edit" onclick="getMethod(this.id)"> Edit</a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            </form>
        </div>
    </div>
</div>

{% block extra_js %}


    
{% endblock %}

<!-- Datatables -->

    <script>
      $(document).ready(function() {      
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable{{table_name}}').DataTable({
          keys: true,
          // "lengthMenu": [[50, 100, -1], [50, 100, "All"]]
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>



